<h2>All Events</h2>

<% @events.includes(:creator).each do |event| %>
  <ul>
    <li><%= event.name %></li>
    <li><%= event.date %></li>
    <li><%= event.creator.email %></li>
  </ul>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out" } %>
<% else %>
  <button><%= link_to "Sign In", new_user_session_path %></button>
<% end %>